body {
    padding: 0px;
    margin: 0px;
}

.mainPictures {
    width: 100%;
}

.sections,
section {
    min-height: 80vh;
    margin-top: 50px;
}

/*-----------------    Home page     -------------------*/

.home-page {
    background-image: linear-gradient(rgba(55, 55, 55, 0.20),rgba(55, 55, 55, 0.31)), url("../img/bg/hotel-picture.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding: 40px;
}

.h1-div {
    text-align:center;
}

    .home-page h1 {
        display: inline-block;
        color: rgba(30, 30, 200, 0.78);
        text-align: center;
        padding: 20px;
        border-radius: 50px;
        background-color: rgba(255, 255, 200, 0.88);
    }

.home-page .row{
    margin-top: 40vh;
}

.home-page .row div {
    margin: 10px 30px;
    background-color: rgba(205, 205, 230, 0.78);
    padding: 20px;
    border-radius: 20px;
    height: 250px;
}

.home-page .row div a{
    text-decoration: none;
    color: #001099;
}
.home-page .row div a:hover
.home-page .row div a:active {
    color: #0010ff;
}

/*---------------   Validation    ----------------*/
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

.reserve-room-form input.valid {
    border: 1px solid green;
}

/*-----------   RoomReservation    ----------------*/

#rooms-bg {
    background-image: linear-gradient(rgba(55, 55, 55, 0.61),rgba(55, 55, 55, 0.31)), url("../img/bg/people-2593251_1920.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.own-card {
    display: inline-block;
    border-color: ghostwhite;
    height: 600px;
    border-radius: 5px;
    background-color: rgba(237, 237, 237, 0.78);
    margin: 30px;
}

.own-card-body {
    height: 300px;
    padding: 30px;
}


/* -----------   Navbar    --------------*/

nav {
    box-shadow: 0 1px 4px #585858;
    background-image: linear-gradient(to right, #01a4d9, #00297d);
}

    nav li {
        margin-right: 20px;
    }


/* -----------   footer     ----------*/

footer {
    color: whitesmoke;
    background-color: rgb(27, 27, 27);
    padding: 35px;
}
