@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="home-page">
    <div class="h1-div">
        <h1>Ágoston Vendégház</h1>
    </div>
    <div class="continer">
        <div class="row">
            <div class="col">
                <h3>Rólunk</h3>
                <p>Üdvözöljük Apartmaununk weboldalán. </p> 
            </div>
            <div class="col">
                <h3>Elérhetőségek</h3>
                <address>
                    8784.<br />
                    Kehidakustány, <br />
                    Széchenyi István u. 75<br />
                    <abbr title="Phone">Telefonszám:</abbr>
                    +36 30 123 4567
                </address>

                <address>
                    <strong>Facebook:</strong>   <a href="https://www.facebook.com/agostonvendeghaz/" target="_blank">Ágoston Vendégház</a><br />
                    <strong>E-mail:</strong> <a href="mailto:info@agostonvendeghaz.com">info@agostonvendeghaz.com</a>
                </address>
            </div>
        </div>
    </div>

</section>